@use '@/assets/css/reset.scss';

.container {
  width: 1200px !important;
  min-width: 1200px !important;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.upload-btn {
  margin: 24px 0 24px;
}

.el-menu{
  border-right: none;
}