@use '@/assets/css/reset.scss';

.container {
  width: 1200px !important;
  min-width: 1200px !important;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.upload-btn {
  margin: 24px 0 24px;
}

.el-menu{
  border-right: none;
}

/*滚动条整体样式*/
::-webkit-scrollbar {
    width: 6px;
    border-radius: 5px;
}
/*滚动条里面小方块*/
::-webkit-scrollbar-thumb {
    background-color: rgba($color: skyblue, $alpha: .3);
    border-radius: 5px;
}
/*滚动条里面轨道*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px pink;
    background: transparent;
}

/* 方法1：禁用滚动条 */
body {
  overflow: hidden; /* 禁用所有滚动 */
}

/* 方法2：仅隐藏滚动条但保留滚动功能 */
// ::-webkit-scrollbar {
//     display: none;
// }