.el-button{
    min-width: 80px;
    width: fit-content;
    height: 40px;
    border-radius: 4px;
}

:deep(.el-radio-group){
    flex-wrap: nowrap;
    .el-radio-button{
        .el-radio-button__inner{
            min-width: 80px;
            width: fit-content;
            height: 40px;
            line-height: 40px;
            padding: 0;
        }
    }
}

:deep(.el-select){
    min-width: 100px;
    width: fit-content;
    border-radius: 4px;
    .el-select__wrapper{
        height: 32px;
    }
}

.el-menu{
  border-right: none;
}

.el-input-number{
    width: 120px;
    height: 32px;
}

.el-radio-button{
    .el-radio-button__inner{
        padding: 8px 12px;
    }
}